<footer class="site-footer">
        <a class="nav-item nav-link" href="{{ "index" | relative_url }}">Home</a>      
        <a class="nav-item nav-link" href="{{ "about" | relative_url }}">About</a>
        <a class="nav-item nav-link" href="{{ "calendar" | relative_url }}">Calendar</a>
        <a class="nav-item nav-link" href="https://github.com/DATDA/main/wiki">Wiki</a>
        <a class="nav-item nav-link" href="{{ "it" | relative_url }}">DATDA IT</a>
        <a class="nav-item nav-link" href="{{ "donate" | relative_url }}">Donate</a>
        <a class="nav-item nav-link" href="{{ "contact" | relative_url }}">Contact</a>
<a class="nav-item nav-link" href="https://discord.gg/CTzmcVf">Discord</a>
  {% if site.github.is_project_page %}
    <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
  {% endif %}
  <span class="site-footer-credits">Powered By <a href="https://pages.github.com">Octocat Tears</a>.</span>
</footer>

<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}" charset="utf-8"></script>
