<section class="page-header">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">DATDA</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{{ "index" | relative_url }}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{{ "about" | relative_url }}">About</a>
        <a class="nav-item nav-link" href="https://github.com/DATDA/main/wiki">Wiki</a>
        <a class="nav-item nav-link" href="{{ "it" | relative_url }}">DATDA IT</a>
        <a class="nav-item nav-link" href="{{ "donate" | relative_url }}">Donate</a>
        <a class="nav-item nav-link" href="{{ "contact" | relative_url }}">Contact</a>
      </div>
    </div>
  </nav>
</section>
